/* MAIN CSS */

/* Reset some default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
    background-color: #000000 !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full height to ensure centering */
    text-align: center;
}
.content {
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ensure everything is centered */
    gap: 10px; /* Add spacing between elements */
}

p
{
	color: #ffffff;
	margin: 0 2rem;
}
  
  h1 {
	font-size: 1rem;
	margin: 0 2rem 1rem;
	color: #ffffff;
  }
  
  button {
	padding: 10px 20px;
	background-color: #ff5733;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease;
  }
  
  button:hover {
	background-color: #c0392b;
  }
  
  /* Make sure particles cover the full screen */
  #particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
  }
  
  /* Pixelated Button */
  .btn-home {
	border: 5px solid var(--base-white);
	background-color: var(--base-dark);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25vh;
	height: 15vh;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: var(--base-white);
	transition: all 0.4s ease;
	border-radius: 5px;
	font-size: 1.5rem;
	z-index: 10;
  }
  
  .btn-home:hover {
	border: 5px solid var(--base-blue);
	color: var(--base-dark);
	background: var(--base-blue) url('../assets/pixel_button_blue.png') no-repeat center center;
	background-size: 220px;
	animation: animate 0.5s steps(8) forwards;
	transition: background-color 1s;
	text-decoration: none;
  }
  
  /* Animation */
  @keyframes animate {
	0% {
	  background-position-y: 0;
	}
	100% {
	  background-position-y: -480px;
	}
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
	.btn-home {
	  width: 120px;
	  height: 40px;
	}
  }
  
  /* COLORS */
  :root {
	--base-green: #00ff00;
	--base-dark: #000;
	--base-white: #fff;
	--base-gray: #262626;
	--base-blue: #63b5ff;
	--base-red: #ff0000;
	--base-purple: #8c00ff;
	--base-light-green: rgba(163, 219, 163, 0.7);
	--base-light-blue: rgb(163, 201, 219, 0.7);
	--base-light-yellow: rgba(255, 236, 68, 0.7);
	--base-light-red: rgba(255, 37, 37, 0.7);
	--base-light-dark: rgba(0, 0, 0, 0.7);
  }
  
  /* Header */
  header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	border-bottom: 4px solid #D3D3D3;
	background-color: white;
	width: 100%;
  }
  
  header > .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 980px;
	margin: 0 auto;
	padding: 1rem;
	transition: all 0.2s ease;
	flex-wrap: wrap;
  }
  
  .nav-brand {
	text-align: center;
	font-size: 1rem;
  }
  
  .nav-brand h1 {
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
  }
  
  .nav-brand p {
	margin-top: 5px;
	font-size: 1rem;
  }
  
  header > .container > .social-buttons {
	display: flex;
	gap: 10px;
  }
  
  .social-buttons i {
	font-size: 2rem;
  }
  
  header.sticky > .container {
	font-size: 0.8rem;
	padding: 0.5rem;
	align-items: center;
  }
  
  header.sticky .nav-brand h1 {
	margin: 0;
	font-size: 1.2rem;
  }
  
  header.sticky .nav-brand p {
	display: none;
  }
  
  /* Responsive Adjustments */
  @media screen and (max-width: 768px) {
	body {
	  margin: 0.5rem;
	  padding: 0;
	}
  
	header > .container {
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	}
  
	.nav-brand {
	  margin-bottom: 0.5rem;
	}
  
	.social-buttons {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
  
	.social-buttons i {
	  font-size: 1.8rem;
	}
  }
  
  @media screen and (max-width: 480px) {
	.nav-brand h1 {
	  font-size: 1.2rem;
	}
	.nav-brand p {
	  font-size: 0.9rem;
	}
	.social-buttons i {
	  font-size: 1.5rem;
	}
  }
  
  .share {
    display: flex;
    justify-content: center;
    gap: 50px; /* Add spacing between social icons */
	margin-top: 20px;
}

.share {
    display: flex;
    justify-content: center;
    gap: 50px; /* Add spacing between social icons */
    margin-top: 20px;
}

.share a {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.share a:hover {
    transform: scale(1.3);
    animation: pulseGlow 1s infinite alternate;
}

/* Adjusting the glow color for different social icons */
.share a i.nes-icon.gmail:hover {
    filter: drop-shadow(0 0 10px #ff0000) 
            drop-shadow(0 0 20px #ff0000) 
            drop-shadow(0 0 40px #ff0000);
}

.share a i.nes-icon.github:hover {
    filter: drop-shadow(0 0 10px #808080) 
            drop-shadow(0 0 20px #808080) 
            drop-shadow(0 0 40px #808080);
}

.share a i.nes-icon.linkedin:hover {
    filter: drop-shadow(0 0 10px #014f79) 
            drop-shadow(0 0 20px #014f79) 
            drop-shadow(0 0 40px #014f79);
}
