{
	"singleQuote": true,
	"semi": false,
	"printWidth": 100,
	"trailingComma": "es5",
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-tailwindcss"],
	"singleAttributePerLine": false,
	"overrides": [
		{
			"files": "*.ts,*.tsx",
			"options": {
				"parser": "typescript",
				"printWidth": 100
			}
		}
	]
}
