/*	MAIN CSS	*/

/* Reset some default styles */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #000000 !important;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.content {
z-index: 1;
text-align: center;
}

h1 {
font-size: 2rem;
margin-bottom: 1rem;
}

button {
padding: 10px 20px;
background-color: #ff5733;
color: white;
border: none;
cursor: pointer;
font-size: 1rem;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #c0392b;
}

/* Make sure particles cover the full screen */
#particles-js {
position: absolute;
width: 100%;
height: 100%;
z-index: -1; /* Makes sure the particles stay behind the content */
}


/* Pixelated Button */
.btn-home {
border: 5px solid var(--base-white);
background-color: var(--base-dark);
position: relative;
display: flex;
align-items: center; /* Vertical centering */
justify-content: center; /* Horizontal centering */
width: 25vh;
height: 15vh;
text-decoration: none;
text-align: center;
text-transform: uppercase;
color: var(--base-white);
transition: all 0.4s ease;
border-radius: 5px;
font-size: 1.5rem;
z-index: 10;
}

/* Hover Effect */
.btn-home:hover {
border: 5px solid var(--base-blue);
color: var(--base-dark);
background: var(--base-blue) url('../assets/pixel_button_blue.png') no-repeat center center;
background-size: 220px;
animation: animate 0.5s steps(8) forwards;
transition: background-color 1s;
text-decoration: none;
}

/*
.btn-home::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	border: 5px dashed var(--base-green);
	border-radius: 10px;
	clip-path: inset(100% 100% 100% 100%);
	opacity: 0;
	transition: clip-path 0.5s ease-in-out, opacity 0.5s;
}

.btn-home:hover::before {
	opacity: 1;
	clip-path: inset(0 0 0 0);
	animation: clippath 1.5s infinite linear;
}

@keyframes clippath {
	0%,
	100% {
		clip-path: inset(0 0 98% 0);
	}

	25% {
		clip-path: inset(0 98% 0 0);
	}
	50% {
		clip-path: inset(98% 0 0 0);
	}
	75% {
		clip-path: inset(0 0 0 98%);
	}
}
*/


/* Animation */
@keyframes animate {
0% {
background-position-y: 0;
}
100% {
background-position-y:-480px;
}
}

/* Responsive Design */
@media (max-width: 768px) {
	.btn-home {
	width: 120px;
	height: 40px;
	}
	}

/*		COLORS		*/
:root
{
	--base-green: #00ff00;
	--base-dark: #000;
	--base-white: #fff;
	--base-gray: #262626;
	--base-blue: #63b5ff;
	--base-red: #ff0000;
	--base-purple: #8c00ff;
	--base-light-green: rgba(163, 219, 163, 0.7);
	--base-light-blue: rgb(163, 201, 219, 0.7);
	--base-light-yellow: rgba(255, 236, 68, 0.7);
	--base-light-red: rgba(255, 37, 37, 0.7);
	--base-light-dark: rgba(0, 0, 0, 0.7);
}

/* Custom style for navbar */
.nav-brand {
	text-align: center;
	padding: 1rem;
	font-size: 1rem;
}
.nav-brand h1 {
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
}
.nav-brand p {
	margin-top: 5px;
	font-size: 1rem;
}

/* Header */
header {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 9;
border-bottom: 4px solid #D3D3D3;
background-color: white;
width: 100%;
}

header > .container {
display: flex;
align-items: baseline;
max-width: 980px;
margin: 0 auto;
padding-top: 1rem;
transition: all 0.2s ease;
flex-direction: row;
}

header > .container > .nav-brand {
margin-right: auto;
}
header > .container > .social-button {
margin-left: auto;
}

.nav-brand .brand-logo {
margin-right: 1rem;
}
.nav-brand > a {
color: #212529;
text-decoration: none;
}

.social-buttons p {
margin-bottom: 0;
}

/* Header-sticky */
header.sticky > .container {
font-size: 0.8rem;
padding: 0;
align-items: center;
}
header.sticky .nav-brand h1 {
margin: 0;
}
header.sticky .nav-brand p {
display: none;
margin-bottom: 0;
font-size: 0.6rem;
}

html {
	scroll-behavior: smooth;
  }


/* Parallax Section Styles */
#parallax {
	background: url('path_to_your_image.jpg') no-repeat center center fixed; 
	background-size: cover;  /* Ensure the background image covers the entire section */
	height: 100vh;  /* Adjust to the desired height */
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 50px 0;  /* Adjust padding as needed */
  }
  
  /* Optional: Add some content styles */
  #parallax h2 {
	font-size: 3rem;
	margin: 0;
  }
  
  #parallax p {
	font-size: 1.5rem;
  }
  