/***	IMPORTS		***/
@use 'variables';

button {
	padding: 10px 20px;
	background-color: variables.$primary-color;
	color: variables.$white;
	border: none;
	cursor: pointer;
	font-size: clamp(0.875rem, 1.5vw, variables.$font-size-medium);
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: variables.$secondary-color;
}

.btn-home {
	border: 5px solid variables.$white;
	background-color: variables.$black;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40vh;
	height: 20vh;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: variables.$white;
	transition: all 0.4s ease;
	border-radius: 5px;
	font-size: clamp(
		variables.$font-size-medium-min,
		variables.$font-size-medium-preferred,
		variables.$font-size-medium-max
	);
	z-index: variables.$z-index-button;
	font-size: 1.5rem;
}

.btn-home:hover {
	border: 5px solid variables.$retro-green;
	color: variables.$black;
	background: variables.$retro-green;
	transition: background-color 1s;
	text-decoration: none;
}

@media (max-width: 768px) {
	.btn-home {
		width: 120px;
		height: 40px;
	}
}
