/***	IMPORTS		***/
@use 'variables';

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: variables.$black;
	color: variables.$white;
}

.content {
	z-index: variables.$z-index-content;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: clamp(
		variables.$font-size-large-min,
		variables.$font-size-large-preferred,
		variables.$font-size-large-max
	);
	position: relative;
	max-width: 100%;
	box-sizing: border-box;
}

p,
h1 {
	color: variables.$white;
	text-align: center;
	font-size: clamp(
		variables.$font-size-medium-min,
		variables.$font-size-medium-preferred,
		variables.$font-size-medium-max
	);
}

p {
	margin: 0 0 0 0;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	text-align: center;
	color: variables.$white;
}
